{% extends "default.html" %} {% block content %}
<div class="container mt-4">
  <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="mb-0">Objective</h2>
    <a class="btn btn-primary mb-1" href="#">Add new Objectives</a>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Objective_Code</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Course_Id</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for obj in queryset %}
      <tr>
        <th>{{obj.objective_code}}</th>
        <td>{{obj.title}}</td>
        <td>{{obj.description}}</td>
        <td>{{obj.course_id}}</td>
        <td>
          <a class="btn btn-warning" href="#">Edit</a>
          <a class="btn btn-danger" href="#">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
